@import "./common/_base";

body {
  @include flexCenter;
}

.main {
  padding: 60px 0;

  @include breakpoint {
    padding: 40px 20px;
  }

  &__title {
    font-size: $s-h1;
    font-weight: bold;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid $black-16;
  }
  &__content {
    .write-form {
      display: flex;
      align-items: center;
      margin-bottom: 40px;
      height: 44px;

      &__input {
        height: 100%;
        padding: 16px;
        flex: 1;
        margin-right: 20px;
        border: 1px solid $black-32;
        box-sizing: border-box;
        border-radius: 8px;
        font-size: $s-h3;

        &::placeholder {
          color: $black-32;
        }
        &:focus {
          outline: none;
          border: 1px solid $black-64;
        }
      }
      &__button {
        @include flexCenter;
        width: 44px;
        height: 100%;
        border: none;
        padding: 0;
        background-color: $primary-color-default;
        border-radius: 12px;
        font-size: 30px;
        color: #fff;

        &:hover {
          background-color: $primary-color-hover;
        }
        &:active {
          background-color: $primary-color-active;
        }
      }
    }
    .todo-list {
      &:first-of-type {
        margin-bottom: 36px;
      }
      &__title {
        font-size: $s-h2;
        font-weight: bold;
        margin-bottom: 28px;
      }
      &__items {
        margin-left: 16px;

        p {
          height: 24px;
          display: none;

          &:only-child {
            display: block;
          }
        }
        .item {
          display: flex;

          &:not(:last-child) {
            margin-bottom: 16px;
          }
          &__content {
            flex: 1;
            display: flex;
            align-items: center;
            cursor: pointer;

            &::before {
              content: " ";

              // 인라인은 내용이 없으면 영역을 잡지 않음
              // 따라서 inline-block으로 설정해서
              // 형제 요소와는 인라인으로 배치되고 블록처럼 영역을 잡도록 함
              display: inline-block;

              background: url(res/img/checkbox-default.svg) no-repeat center;
              background-size: 24px 24px;
              width: 24px;
              height: 24px;
              margin-right: 12px;
            }
            &:hover {
              &::before {
                background: url(res/img/checkbox-hover.svg) no-repeat center;
              }
            }
            &.checked {
              text-decoration: line-through;

              &::before {
                background: url(res/img/checkbox-checked.svg) no-repeat center;
              }
            }
          }
          &__button--remove {
            width: 24px;
            height: 24px;
            background-color: $primary-color-default;
            mask-image: url(res/img/remove-icon.svg);
            -webkit-mask-image: url(res/img/remove-icon.svg);
            mask-size: cover;
            -webkit-mask-size: cover;

            &:hover {
              background-color: $primary-color-hover;
            }
            &:active {
              background-color: $primary-color-active;
            }
          }
        }
      }
    }
  }
}
