@import "_reset";
@import "_font";
@import "_mixin";
@import "_size";

button {
  border: none;
  padding: 0;
  background: none;
}

html {
  font-family: NanumGothic;
}

.wrap {
  width: $breakpoint;
}
