$primary-color-default: #526eff;
$primary-color-hover: #3652e3;
$primary-color-active: #233fd1;

$black: #111;
$black-64: rgba(17, 17, 17, 0.64);
$black-32: rgba(17, 17, 17, 0.32);
$black-16: rgba(17, 17, 17, 0.16);
